@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@import "./themes/theme.css";
@import "../../node_modules/preline/variants.css";

@source "../../node_modules/preline/dist/*.js";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme inline {
    --color-background: var(--background);
    --color-background-1: var(--background-1);
    --color-background-2: var(--background-2);
    --color-plain: var(--background-plain);
    --color-foreground: var(--foreground);
    --color-foreground-inverse: var(--foreground-inverse);

    --color-inverse: var(--inverse);

    --color-border: var(--border);
    --color-line-inverse: var(--border-line-inverse);
    --color-line-1: var(--border-line-1);
    --color-line-2: var(--border-line-2);
    --color-line-3: var(--border-line-3);
    --color-line-4: var(--border-line-4);
    --color-line-5: var(--border-line-5);
    --color-line-6: var(--border-line-6);
    --color-line-7: var(--border-line-7);
    --color-line-8: var(--border-line-8);

    --color-primary-50: var(--primary-50);
    --color-primary-100: var(--primary-100);
    --color-primary-200: var(--primary-200);
    --color-primary-300: var(--primary-300);
    --color-primary-400: var(--primary-400);
    --color-primary-500: var(--primary-500);
    --color-primary-600: var(--primary-600);
    --color-primary-700: var(--primary-700);
    --color-primary-800: var(--primary-800);
    --color-primary-900: var(--primary-900);
    --color-primary-950: var(--primary-950);

    --color-primary: var(--primary);
    --color-primary-line: var(--primary-line);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary-hover: var(--primary-hover);
    --color-primary-focus: var(--primary-focus);
    --color-primary-active: var(--primary-active);
    --color-primary-checked: var(--primary-checked);

    --color-secondary: var(--secondary);
    --color-secondary-line: var(--secondary-line);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary-hover: var(--secondary-hover);
    --color-secondary-focus: var(--secondary-focus);
    --color-secondary-active: var(--secondary-active);

    --color-layer: var(--layer);
    --color-layer-line: var(--layer-line);
    --color-layer-foreground: var(--layer-foreground);
    --color-layer-hover: var(--layer-hover);
    --color-layer-focus: var(--layer-focus);
    --color-layer-active: var(--layer-active);

    --color-surface: var(--surface);
    --color-surface-1: var(--surface-1);
    --color-surface-2: var(--surface-2);
    --color-surface-3: var(--surface-3);
    --color-surface-4: var(--surface-4);
    --color-surface-5: var(--surface-5);
    --color-surface-line: var(--surface-line);
    --color-surface-foreground: var(--surface-foreground);
    --color-surface-hover: var(--surface-hover);
    --color-surface-focus: var(--surface-focus);
    --color-surface-active: var(--surface-active);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted-foreground-1: var(--muted-foreground-1);
    --color-muted-foreground-2: var(--muted-foreground-2);
    --color-muted-hover: var(--muted-hover);
    --color-muted-focus: var(--muted-focus);
    --color-muted-active: var(--muted-active);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-destructive-hover: var(--destructive-hover);
    --color-destructive-focus: var(--destructive-focus);

    --color-navbar: var(--navbar);
    --color-navbar-line: var(--navbar-border);
    --color-navbar-divider: var(--navbar-divider);
    --color-navbar-nav-foreground: var(--navbar-nav-foreground);
    --color-navbar-nav-hover: var(--navbar-nav-hover);
    --color-navbar-nav-focus: var(--navbar-nav-focus);
    --color-navbar-nav-active: var(--navbar-nav-active);
    --color-navbar-nav-list-divider: var(--navbar-nav-list-divider);
    --color-navbar-inverse: var(--navbar-inverse);

    --color-navbar-1: var(--navbar-1);
    --color-navbar-1-line: var(--navbar-1-border);
    --color-navbar-1-divider: var(--navbar-1-divider);
    --color-navbar-1-nav-foreground: var(--navbar-1-nav-foreground);
    --color-navbar-1-nav-hover: var(--navbar-1-nav-hover);
    --color-navbar-1-nav-focus: var(--navbar-1-nav-focus);
    --color-navbar-1-nav-active: var(--navbar-1-nav-active);
    --color-navbar-1-nav-list-divider: var(--navbar-1-nav-list-divider);

    --color-navbar-2: var(--navbar-2);
    --color-navbar-2-line: var(--navbar-2-border);
    --color-navbar-2-divider: var(--navbar-2-divider);
    --color-navbar-2-nav-foreground: var(--navbar-2-nav-foreground);
    --color-navbar-2-nav-hover: var(--navbar-2-nav-hover);
    --color-navbar-2-nav-focus: var(--navbar-2-nav-focus);
    --color-navbar-2-nav-active: var(--navbar-2-nav-active);
    --color-navbar-2-nav-list-divider: var(--navbar-2-nav-list-divider);

    --color-sidebar: var(--sidebar);
    --color-sidebar-line: var(--sidebar-border);
    --color-sidebar-divider: var(--sidebar-divider);
    --color-sidebar-nav-foreground: var(--sidebar-nav-foreground);
    --color-sidebar-nav-hover: var(--sidebar-nav-hover);
    --color-sidebar-nav-focus: var(--sidebar-nav-focus);
    --color-sidebar-nav-active: var(--sidebar-nav-active);
    --color-sidebar-nav-list-divider: var(--sidebar-nav-list-divider);
    --color-sidebar-inverse: var(--sidebar-inverse);

    --color-sidebar-1: var(--sidebar-1);
    --color-sidebar-1-line: var(--sidebar-1-border);
    --color-sidebar-1-divider: var(--sidebar-1-divider);
    --color-sidebar-1-nav-foreground: var(--sidebar-1-nav-foreground);
    --color-sidebar-1-nav-hover: var(--sidebar-1-nav-hover);
    --color-sidebar-1-nav-focus: var(--sidebar-1-nav-focus);
    --color-sidebar-1-nav-active: var(--sidebar-1-nav-active);
    --color-sidebar-1-nav-list-divider: var(--sidebar-1-nav-list-divider);

    --color-sidebar-2: var(--sidebar-2);
    --color-sidebar-2-line: var(--sidebar-2-border);
    --color-sidebar-2-divider: var(--sidebar-2-divider);
    --color-sidebar-2-nav-foreground: var(--sidebar-2-nav-foreground);
    --color-sidebar-2-nav-hover: var(--sidebar-2-nav-hover);
    --color-sidebar-2-nav-focus: var(--sidebar-2-nav-focus);
    --color-sidebar-2-nav-active: var(--sidebar-2-nav-active);
    --color-sidebar-2-nav-list-divider: var(--sidebar-2-nav-list-divider);

    --color-card: var(--card);
    --color-card-line: var(--card-border);
    --color-card-divider: var(--card-divider);
    --color-card-header: var(--card-header);
    --color-card-footer: var(--card-footer);
    --color-card-inverse: var(--card-inverse);

    --color-dropdown: var(--dropdown);
    --color-dropdown-1: var(--dropdown-1);
    --color-dropdown-line: var(--dropdown-border);
    --color-dropdown-divider: var(--dropdown-divider);
    --color-dropdown-header: var(--dropdown-header);
    --color-dropdown-footer: var(--dropdown-footer);
    --color-dropdown-item-foreground: var(--dropdown-item-foreground);
    --color-dropdown-item-hover: var(--dropdown-item-hover);
    --color-dropdown-item-focus: var(--dropdown-item-focus);
    --color-dropdown-item-active: var(--dropdown-item-active);
    --color-dropdown-inverse: var(--dropdown-inverse);

    --color-select: var(--select);
    --color-select-1: var(--select-1);
    --color-select-line: var(--select-border);
    --color-select-item-foreground: var(--select-item-foreground);
    --color-select-item-hover: var(--select-item-hover);
    --color-select-item-focus: var(--select-item-focus);
    --color-select-item-active: var(--select-item-active);
    --color-select-inverse: var(--select-inverse);

    --color-overlay: var(--overlay);
    --color-overlay-line: var(--overlay-border);
    --color-overlay-divider: var(--overlay-divider);
    --color-overlay-header: var(--overlay-header);
    --color-overlay-footer: var(--overlay-footer);
    --color-overlay-inverse: var(--overlay-inverse);

    --color-popover: var(--popover);
    --color-popover-line: var(--popover-border);

    --color-tooltip: var(--tooltip);
    --color-tooltip-foreground: var(--tooltip-foreground);
    --color-tooltip-line: var(--tooltip-border);

    --color-table-line: var(--table-border);

    --color-switch: var(--switch);

    --color-footer: var(--footer);
    --color-footer-line: var(--footer-border);
    --color-footer-inverse: var(--footer-inverse);

    --color-scrollbar-track: var(--scrollbar-track);
    --color-scrollbar-thumb: var(--scrollbar-thumb);
    --color-scrollbar-track-inverse: var(--scrollbar-track-inverse);
    --color-scrollbar-thumb-inverse: var(--scrollbar-thumb-inverse);

    --color-chart-primary: var(--chart-primary);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-chart-6: var(--chart-6);
    --color-chart-7: var(--chart-7);
    --color-chart-8: var(--chart-8);
    --color-chart-9: var(--chart-9);
    --color-chart-10: var(--chart-10);

    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@custom-variant dark (&:where(.dark, .dark *));
